<!doctype html>
<html lang="en">
{{> layout/header}}
<body>

{{> layout/nav}}

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainer : {{combatResult.winner}} <img src="/chen.png" style="height: 100px;"/></h1>
    <img src="/icons/result.jpg" style="margin-bottom: 25px" height="70" width="70"/> <span style="font-size: 25px; font-weight: bold; color: orange; margin-bottom: 20px"> Result: </span>
    <div/>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hits</th>
        </tr>
        </thead>
        <tbody>
        {{#combatResult.rounds}}
        <tr>
            <th scope="row">{{number}}</th>
            {{#hpHints}}
            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
            {{/hpHints}}

        </tr>
       {{/combatResult.rounds}}
        </tbody>
    </table>
    <a href="/combats" class="badge badge-danger" style="margin-bottom: 25px"><img src="/icons/battle.png"  height="70" width="70"/> <span style="font-size: 25px; font-weight: bold; color: white; margin-bottom: 20px"> Start fight</span></a>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>